@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.dark-mode {
  background-color: rgb(32, 44, 55);
  color: #fff;
}
.dark-mode input {
  background-color: rgb(43, 57, 69);
}
.dark-mode .country-detail {
  background-color: rgb(32, 44, 55);
}
.dark-mode .country-detail__button-back {
  color: #fff;
}
.dark-mode .main-section__filters-container,
.dark-mode .main-section__filter,
.dark-mode .header,
.dark-mode .main-section__country-container,
.dark-mode .country-detail__button-back,
.dark-mode .country-detail__border-countries-item {
  background-color: rgb(43, 57, 69);
}

.light-mode {
  background-color: rgb(250, 250, 250);
  color: #000;
}
.light-mode .country-detail__button-back {
  color: #000;
}
.light-mode .header,
.light-mode .main-section__filters-container,
.light-mode .main-section__filter {
  background-color: rgb(255, 255, 255);
}
.light-mode .country-detail {
  background-color: rgb(250, 250, 250);
}

.header {
  padding: 25px 0px;
  box-shadow: 0px 7px 18px -8px rgba(66, 68, 90, 0.5);
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header__container {
  width: calc(100% - 20px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 1.6rem;
  font-weight: 800;
}
.header__mode-container {
  cursor: pointer;
  overflow: hidden;
  height: 16px;
}
.header__mode {
  font-size: 1.2rem;
  font-weight: 300;
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out;
}

.mode-active {
  transform: translateY(-100%);
}

.main {
  margin-top: 70px;
}

.main-section {
  width: calc(100% - 20px);
  margin: 0 auto;
}
.main-section__ui-container {
  margin: 0 auto 30px auto;
}
@media (min-width: 1200px) {
  .main-section__ui-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: calc(100% - 150px);
  }
}
.main-section__input-container {
  max-width: 400px;
  width: 100%;
  position: relative;
}
.main-section__search-svg {
  position: absolute;
  top: 60%;
  left: 5%;
  transform: translateY(-50%);
}
.main-section__input {
  box-shadow: 0px 7px 18px -8px rgba(66, 68, 90, 0.5);
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px 0px 15px 50px;
}
.main-section__filter {
  box-shadow: 0px 7px 18px -8px rgba(66, 68, 90, 0.5);
  margin-top: 30px;
  padding: 15px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .main-section__filter {
    margin-top: 20px;
  }
}
.main-section__filter-content {
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-section__filters-container {
  position: absolute;
  top: 60px;
  left: 0;
  height: 0px;
  transition: height, 0.5s ease;
  overflow: hidden;
  box-shadow: 0px 7px 18px -8px rgba(66, 68, 90, 0.5);
  width: 100%;
}
.main-section__list {
  padding: 15px;
}
.main-section__item {
  font-weight: 300;
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
.main-section__container {
  display: flex;
  justify-content: center;
  direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.main-section__country-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 7px 18px -8px rgba(66, 68, 90, 0.5);
  cursor: pointer;
  margin-bottom: 30px;
  display: inline-block;
  width: 265px;
}
.main-section__country-flag {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
}
.main-section__content-container {
  padding: 20px 20px 40px 20px;
}
.main-section__country {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.main-section__population, .main-section__region, .main-section__capital {
  padding-bottom: 5px;
}
.main-section__span {
  font-weight: 300;
}

.country-detail {
  overflow: scroll;
  transform: translateX(0%);
  transition: transform 0.5s ease;
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
}
.country-detail__container {
  width: calc(100% - 40px);
  margin: 30px auto;
  font-size: 1.4rem;
}
.country-detail__button-back {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Nunito Sans", sans-serif;
  padding: 5px 20px 5px 20px;
  border: none;
  box-shadow: 0px 7px 18px -8px rgb(66, 68, 90);
  display: block;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 1200px) {
  .country-detail__main-container {
    display: flex;
    flex-direction: row;
    gap: 200px;
  }
}
@media (min-width: 1200px) {
  .country-detail__content-container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .country-detail__content {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
}
.country-detail__img {
  width: 50%;
  margin-bottom: 20px;
}
.country-detail__name {
  margin-bottom: 20px;
}
.country-detail__main-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.country-detail__side-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.country-detail__span {
  color: rgb(133, 133, 133);
  font-weight: 300;
}
.country-detail__border-countries-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.country-detail__border-countries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.country-detail__border-countries-item {
  padding: 5px 20px;
  box-shadow: 0px 7px 18px -8px rgba(66, 68, 90, 0.4);
  font-weight: 300;
}

.active {
  height: 160px;
  transition: height, 0.5s ease;
}

.hidden {
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.search-hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */